/*NORMALIZE*/
@font-face {
  font-family: robotoFont;
  src: url('Roboto-Light.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: robotoFont;
  font-weight: bold;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

input[type="text"], input[type="password"] {
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 2px 3px #c2c2c2;
  width: 90%;
  height: 25px;
}

input[type="button"] {
  width: 45%;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #c1c1c1;
  border-style: none;
  background-color: #8F6E3C;
  color: #fff;
  transition: ease 1s;
}

input[type="button"]:hover {
background-color: #b78e50;
}

/*/NORMALIZE*/

/*PAGE*/
.wrapper {
  overflow-x: hidden;
	width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
}
/*/PAGE*/

/*HEADER*/
.header {
  border-top: 10px solid #8F6E3C;
  padding: 0px 0px;
  background-color: #fff;
}

.headerTitle {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}

.navigationBar {
  border-top: 1px solid rgba(143,110,60,0.6);
  border-bottom: 3px solid #8F6E3C;
  margin-top: 30px;
}

.navigationList {
  display: flex;
  padding: 5px 0px;
  justify-content: space-around;
  font-size: 24px;
}

.navigationList li a {
  padding: 5px;
  transition: ease 2s;
}

.navigationList li a:hover {
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(143,110,60,1) 97%,rgba(255,255,255,1) 100%);
}

.socialNav {
  margin-top: 20px;
}

.socialNav ul li{
  display: inline-block;
  font-size: 38px;
  margin-left: 55px;
}
/*/HEADER*/

/*CONTENT*/
.contentWrap {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

/*SIDEBAR*/
.contentSide {
  width: 20%;
}

.sideBox {
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 8px;
  background-color: #FFF;
  margin-bottom: 20px;
}

.webForm {
  padding: 20px;
}

.registerForm {
  display: none;
  border-top: 1px dotted #8F6E3C;
}

#errorBox {
  display: none;
  font-size: 12px;
  padding: 5px 20px;
  color: red;
}

.topFive {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miniHeader {
  background-color: #8F6E3C;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 24px;
}

.miniHeaderText {
  margin: 0px;
  color: #fff;
  font-weight: lighter;
  padding: 5px;
}

.topFiveHold {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.topFiveImg {
  margin-top: 10px;
  border-bottom: 1px dashed #8F6E3C;
  padding-bottom: 10px;
}

.topFiveImg:last-child {
  border: none;
}


.topFiveDesc {
  font-size: 13px;
}

  /*/SIDEBAR*/

  /*MAIN*/
  .contentMain {
    width: 950px;
  }

  .main-hero {
    height: 650px;
  }

  .slider {
    position: relative;
  }

  .slider > img {
    border-radius: 0px 0px 8px 8px;
    position: absolute;
  }

  .snizen {
    border-radius: 8px;
  }

  #snizeneKnjige {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .snizeno {
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    min-height: 300px;
    border-radius: 8px;
    width: 20%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
  }

  .snizeno img {
    border-radius: 8px;
  }

  #autorDana {
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20px;
  }

  .autorHold {
    padding: 15px;
    display: flex;
    justify-content: space-around;
  }

  .autorHold img {
    border-radius: 8px;
  }

  .autorText {
    font-size: 18px;
    padding-top: 25px;
    width: 45%;
  }
  /*/MAIN*/

  /*FOOTER*/
  #footer {
    width: 100%;
    height: 200px;
    background-color: #FFF;
    border-bottom: 10px solid #8F6E3C;
    border-top: 1px solid #8F6E3C;
    display: flex;
    justify-content: space-around;
  }
  .footerBlock {
    width: 33%;
    height: inherit;
  }
  .footerBlock:last-child {
    border-right: none;
  }
  .footerBlock ul {
    height: inherit;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  /*/FOOTER*/


/*SHOP PAGE*/
  .shopTitle {
    border-radius: 8px;
  }
  #booksHolder {
    padding: 5px;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
/*/SHOP PAGE*/

/*CONTACT*/
.contactHold {
  width: 90%;
}

.formBody {
  width: 100%;
  height: 100%;
}

#contactForm {
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 0px 0px 8px 8px;
  background-color: #fff;
  padding: 20px;
}

.contactDetails {
  width: 50%;
  font-size: 24px;
  margin-left: 40px;
}

.contactForma input[type="text"] {
  width: 40%;
  margin: 0px 10px;
}

.contactForma {
  width: 45%;
}

.contactForma #imeError, .contactForma #emailError {
  color: red;
  font-size: 12px;
}

#imePrezime, #emailForm {
  margin-bottom: 20px;
}
/*/CONTACT*/

/*AUTOR*/
.autorContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 0px 0px 8px 8px;
}

.autorWrap {
  display: flex;
  flex-direction: column;
}

.autorIMG img {
  border-radius: 8px;
}
/*/AUTOR*/
